.organism, .bestpractice {
    &__bond {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        flex-flow: nowrap;
        background-color: $color-background;
        margin: $spacing-half 0;
        height: 500px;
        min-width: 1000px;
        border-radius: 5px;
        box-shadow: 0 10px 24px 0 rgba(184,184,184,1);
    }
    &__viewer {
        position: relative;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        width: 281.25px;
        height: 500px;
        overflow: hidden;
    }

    &__nukleolus {
        background-color: $color-primary;
        height: 50px;
        width: 50px;
    }
    &__properties {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 $spacing-third $spacing-third;
    }

    &__timing{
      border-radius: 5px;
      background-color: $color-white;
      margin: $spacing-third 0;
      z-index: 2;
      width: 100%;
    }
}

.organisms{
  &__addOrganism{
    opacity: 0.75;
    width: 1000px;
    height: 500px;
    background-color: $color-background;
    border: none;
    color: $color-grey;
    font-size: 2em;
    &:active{
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}

.molecule {
    &__bond {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        flex-flow: nowrap;
        background-color: $color-background;
        margin: $spacing-half 0;
        height: 350px;
        min-width: 800px;
        border-radius: 5px;
        box-shadow: 0 10px 24px 0 rgba(184,184,184,1);
    }
    &__viewer {
        position: relative;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        width: 196.88px;
        height: 350px;
        overflow: hidden;
    }
    &__nukleolus {
        background-color: $color-primary;
        height: 50px;
        width: 50px;

    }
    &__properties {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 $spacing-third $spacing-third;
    }

    &__timing{
      border-radius: 5px;
      background-color: $color-white;
      margin: $spacing-third 0;
      z-index: 2;
      width: 100%;
    }
}

.atom {
    &__shell {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        flex-flow: nowrap;
        background-color: $color-background;
        margin: $spacing-half;
        height: 300px;
        min-width: 700px;
        border-radius: 5px;
        box-shadow: 0 10px 24px 0 rgba(184,184,184,1);
    }

    &__remove {
        position: absolute;
        margin-top: -40px;
        margin-left: 100%;
        cursor: pointer;

        &:hover {
            color: $color-primary;
        }
    }

    &__name {
        width: 100%;
        text-align: left;
        & > * {
            background-color: transparent;
            width: 100%;
        }
    }

    &__viewer {
        position: relative;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        width: 168.75px;
        height: 300px;
        overflow: hidden;
    }

    &__nukleolus {
        background-color: $color-primary;
        height: 50px;
        width: 50px;
    }

    &__properties {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 $spacing-third $spacing-third;

        & > * {
            &:nth-child(3) {
                padding-top: $spacing-third;
            }

            &:nth-child(4) {
                padding-top: $spacing-third;
            }
        }

    };

    &__characteristics {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__sectionName {
        & > * {
            text-align: left;
            font-size: 1.5em;
            width: auto;
        }
    }

    &__kind{
      max-width: 150px;
    }

}

.atoms{
  &__addAtom{
    opacity: 0.75;
    width: 700px;
    height: 300px;
    background-color: $color-background;
    border: none;
    color: $color-grey;
    font-size: 2em;
    &:active{
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}

.molecules{
  &__addMolecule{
    opacity: 0.75;
    width: 850px;
    height: 300px;
    background-color: $color-background;
    border: none;
    color: $color-grey;
    font-size: 2em;
    &:active{
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}

.connectedIt{
  text-align: center;
  font-size: $fontSize-half;
  color: $color-grey,
}
.anchor{
margin: $spacing-standard;
}

.copy{
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -100;
  //display: none;
}
.subMenu{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: $spacing-third;
  position: absolute;
  right: 0;
  bottom: 0;
  & > *{
    cursor: pointer;
    padding: 0 $spacing-third;
    background-size: 25px;
    transition: background-image 250ms;
    &:last-child{
      width: 25px;
      height: 25px;
      background-image: url(./assets/copyCode.svg);
      background-position: center center;
      background-repeat: no-repeat;
    }

    &:hover{
      background-image: url(./assets/copyCodeHover.svg);
    }

  }

  &__copied{

    background-image: none !important;
    font-size: $fontSize-half;
    color: $color-secondary;


  }
}
.active{
  background-color: $color-primary;
  transition: background 0.1s;
  & > *{
    opacity: 1;
  }
  &:hover{
    background-color: $color-primary;

  }
}


//

.fade-enter-active, .fade-leave-active {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
