.atom {
    &__shell {
      position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        flex-flow: wrap;
        background-color: $color-grey;
        padding: $spacing-third;
        margin: $spacing-half;
        height: 100%;
        min-width: 50vw;
        box-shadow: 0 10px 24px 0 rgba(184,184,184,1);
    };

    &__remove{
      position: absolute;
      margin-top: -40px;
      margin-left: 100%;
      cursor: pointer;

      &:hover{
        color: $color-primary;
      }
    }

    &__name {
      width: 100%;
      input{
        text-align: left;
      }

        & > * {

            background-color: transparent;
            width: 100%;
        }
    }

    &__viewer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        width: 25vw;
        height: 25vw;
        margin-right: $spacing-third;

    };

    &__nukleolus {
        background-color: $color-primary;
        height: 10%;
        width: 10%;

    };

    &__properties {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
        & > *{
          &:nth-child(2){
            padding-top: $spacing-half;
          }
          &:nth-child(3){
            padding-top: $spacing-half;
          }
        }
        @media (max-width: $mq-md) {
          padding: 0;
          & > *{
            padding-top: $spacing-half;

          }
        }
    };


    &__characteristics{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

    }

    &__sectionName{

      & > *{
        text-align: left;
        font-size: 1.5em;
        width: auto;
      }

    }

}
