
.app{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  overflow-y: hidden;

}

.menu{
  &__wrapper{
    overflow: visible;
  }
  background-color: $color-white;
  overflow: hidden;
  z-index: 90;
  position: fixed;
  width: 50px;
  height: 100vh;
  padding: 0;
  margin: 0;
  & > *{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
    cursor: pointer;
    padding: 0;
    margin: 2px 0;
    width: 50px;
    height: calc(25vh - 10px );

    & > *{
      width: 15px;
      opacity: 0.25;
      transition: opacity 0.5s;
    }

    &:first-child{
      width: 50px;
      height: 50px;

      & > *{
        width: 10px;
      }

    }
    &:hover{
      background-color: $color-alpha-light;
      transition: background 0.1s;
      & > *{
        opacity: 1;
      }
    }

  }

}

.universe{
  margin-left: 50px;
  width: 95vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

}

.atoms, .molecules, .organisms, .bestpractices {
  margin-left: $spacing-double;
  display: flex;
  align-items: flex-start;
  flex-flow: nowrap;
  min-height: 100vh;
  //width: 200vw;
  &__wrapper {
    //width: 100vw;
    //overflow-x: auto;
    padding-top:10vh;
    padding-bottom:13vh;
  }
  & > *{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-flow: wrap;
    max-width: 1200px;
  }
}
