.universe{
  width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.molecules{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: wrap;
  min-height: 100vh;
  //min-width: 200vw;
  //padding-left: 50vw;


}

.atoms__wrapper{
  width: 100vw;
  overflow-x: auto;
}
.atoms{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: wrap;
  min-height: 100vh;
  width: 200vw;

  & > *{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-flow: wrap;
    max-width: 750px;
  }

}
